<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '6px',
    border: '1px solid #ccc',
    background: backgroundToggle ? 'red' : 'green'
}"></div>

<p [ngClass]="{
    red: backgroundToggle,
    blue: !backgroundToggle
}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aliquam at rem.
</p>

<p 
[class.blue]="!backgroundToggle"
[class.red]="backgroundToggle"
>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, beatae.</p>