.post {
    width: 450px;
    border: 1px dashed #ccc;
    padding: 1rem;
    margin-bottom: 2px;
}


.red {
    background: red;
    font-weight: bold;
    color: #fff;
}

.blue {
    background: blue;
    font-size: 1.5rem;
    color: #fff;
}